body {
    background: url('https://images.unsplash.com/photo-1473800447596-01729482b8eb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=40eba4c15ec393c84db9c76380d26869') no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
    color: #fff;

}

.focus-bg, .credit-box {
    position: absolute;
    bottom: 10px;
    height: 50px;
    width: 150px;
    border: 5px solid dodgerblue;
}
/*.credit-box {*/
    /*overflow: hidden;*/
    /*height: 50px;*/
    /*width: 200px;*/
    /*border: 1px solid hotpink;*/
/*}*/


.credits{
    opacity: 0.7;
    height: 0;
    margin: -15px 1px;
    padding: 1em;
    line-height: 1em;
    border: 1px solid palegreen;
}

section.photographer a {
    text-decoration: none;
    color: #fff;
}

.credits:first-child {
    position: relative;
    top: 1.8em;
    border-bottom: 10px solid transparent;
    -webkit-transition: all 250ms 0.4s ease;
    -moz-transition: all 250ms 0.4s ease;
    -o-transition: all 250ms 0.4s ease;
    transition: all 0.4s ease;
}

.credit-box:hover .credits:first-child {
    opacity: 1;
    transform: translateY(-0.8em);
    transition-delay: 250ms;
}

.credits:last-child {
    opacity: 0;
    font-size: 0.5rem;
    position: absolute;
    bottom: 2.3rem;
    border-top: 10px solid transparent;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease;

}

.credit-box:hover .credits:last-child {
    opacity: 0.7;
    transform: translateY(1.5em);
    transition-delay: 250ms;


}
