body {
    background: url('https://images.unsplash.com/photo-1473800447596-01729482b8eb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=40eba4c15ec393c84db9c76380d26869') no-repeat center center fixed;
    background-size: cover;

    color: #fff;

}

#slider:hover {
    opacity: 1.0;
}
/*#slider {*/
    /*opacity: 0.8;*/
    /*max-height: 62px;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*overflow-y: hidden;*/
    /*transition-property: all;*/
    /*transition-duration: .5s;*/
    /*transition-timing-function: cubic-bezier(0, 1, 0.5, 1);*/
    /*border: 1px solid pink;*/
/*}*/

/*.closed {*/
    /*max-height: 32px;*/
    /*overflow-y: hidden;*/
    /*-webkit-transition: max-height 0.8s ease-in-out;*/
    /*-moz-transition: max-height 0.8s ease-in-out;*/
    /*-o-transition: max-height 0.8s ease-in-out;*/
    /*transition: max-height 0.8s ease-in-out;*/
/*}*/

.credits {
    opacity: 0.8;
    height: 1.2em;
    margin: 0.5em;
    padding: 0;
    border: 1px solid palegreen;
}

.photographer {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.photographer:hover {
    opacity: 1;
    transform: translateY(-0.5em);
}
/*.slide-down {*/
    /*max-height: 30px;*/
/*}*/

.red-test {
    background: red;
}

.blue-test {
    background: blue;
}